@model Breed

<h3>@Model.Name Information</h3>

<table>
    <tr>
        <th class="tableHeader">ID</th>
        <th class="tableHeader">Name</th>
        <th class="tableHeader">Size</th>
        <th class="tableHeader">Temperment</th>
        <th class="tableHeader">Life Expectancy</th>
        <th class="tableHeader">Hair Type</th>
    </tr>

    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Size</td>
        <td>@Model.Temperment</td>
        <td>@Model.Life_Expectancy</td>
        <td>@Model.Hair_Type</td>
    </tr>
</table>


    <div style="display: block">
    <button><a class="a" href="/Breed/UpdateBreed/@Model.ID">Update this Breed</a></button>
    </div>

    <div style="display: block">
        @using(Html.BeginForm("DeleteBreed", "Breed", "Post"))
        {
            <input type="hidden" asp-for="ID" value="@Model.ID" />
            <input class="a" type="submit" onclick="return confirm('Are you sure?')" value="Delete this breed" />
        }
    </div>