@model Breed

<h3>@Model.Name Information</h3>

<table class="table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Temperment</th>
        <th>Life Expectancy</th>
        <th>Hair Type</th>
    </tr>

    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Size</td>
        <td>@Model.Temperment</td>
        <td>@Model.Life_Expectancy</td>
        <td>@Model.Hair_Type</td>
    </tr>
</table>


    <div style="display: block">
    <button><a href="/Breed/UpdateBreed/@Model.ID">Update this Breed</a></button>
    </div>

    <div style="display: block">
        @using(Html.BeginForm("DeleteBreed", "Breed", "Post"))
        {
            <input type="hidden" asp-for="ID" value="@Model.ID" />
            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this breed" />
        }
    </div>